body
{
  font-family: 'Montserrat', sans-serif;
}

.title
{
  background-color: #ff4c68;
  padding: 3% 15% 11%;
}

.heading
{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #ffffff;
}

.navbar
{
  padding:0 0 4.5rem 0 !important;
}

.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem !important;
}


.navbar-item
{
  padding: 0 18px;
  font-size: 1.3rem !important;
}

.dbtn
{
  margin: 5% 3% 5% 0%;
}

.img1
{
  width: 70%;
  transform:rotate(30deg);
  position: absolute;
  left: 15%;
}

#features
{
  padding: 7% 15%;
  background: #fff;
  position: relative;
}

.feature-box
{
  text-align: center;
  padding: 5%;
}

.feature-heading
{
  font-family: "Montserrat";
  font-weight: bolder;
}

.feature-para
{
  color: #8f8f8f;
}

.feature-icon
{
  color: #e48172;
  margin-bottom: 1rem;
}

.feature-icon:hover
{
  color: #ff4c68;
}

#testimonials
{
  text-align: center;
  background-color:#ff4c68;
  color:#fff;
}
.carousel-item
{
  padding: 7% 15%;
}

h2
{
  font-family: "Montserrat";
  font-size: 3rem !important;
  line-height: 1.5;
}

.testimonials-img
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press
{
  background-color: #ff4c68;
  text-align: center;
  padding: 3%;
}

.press-img
{
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing
{
  padding: 100px;
  text-align: center;
}
.price-padding
{
  padding: 3% 2%;
}

@media(max-width:360px) {
    .title {
        background-color: #ff4c68;
        padding: 3% 10% 3% 10%;
    }

    .navbar {
        padding: 0 0 2rem 0 !important;
    }

    .img1 {
        position: static;
        transform: rotate(0deg);
    }

    .navbar-brand {
        font-family: "Ubuntu";
        font-size: 2.0rem !important;
    }

    .carousel-item {
        padding: 7% 10%;
    }

    h2 {
        font-family: "Montserrat";
        font-size: 1rem !important;
        line-height: 1;
        text-align: "centre";
        padding-top: 5%;
    }

    .heading {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        line-height: 1.0;
        color: #ffffff;
    }

    #pricing {
        padding: 70px;
        text-align: center;
    }

    .p {
        font-family: "Montserrat";
        font-size: 31px !important;
        line-height: 1.3;
        text-align: "centre";
    }

    .last {
        font-style: "Montserrat";
        font-size: 1.5rem !important;
        line-height: 1.5;
        color: #fff;
    }
}

#cta
{
  padding: 7% 15% 5% 15%;
  background-color: #ff4c68;
  text-align: center;
}

.last
{
  font-style: "Montserrat";
  font-size: 3.5rem !important;
  line-height: 1.5;
  color: #fff;
}

#footer
{
  text-align: center;
  padding: 1% 15%;
}

.social
{
  margin: 20px 10px;
}

.social:hover
{
  color: #3f4441;
}
